
/* ID section*/
#atable{
    display:flex;
}

#atable tbody{
    width: 100%;
}

#atable tbody tr{
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}

#atable tbody tr td{
    width: 50%;
}

#atable tr td:first-child{
    background-color: #212b30;
    text-align: center !important;
    border-radius: 7%;
}

#atable tbody tr td:nth-child(2){
    background-color: #ffffff;
    color: black !important;
    text-align: left !important;
    border-radius: 7%;
}

#target_info, #ref_star_info {
    border-radius: 7%;
    margin-bottom: 1%;
}

/* Class section*/ 
.rwt__tabpanel {
    overflow: hidden !important;
    height:auto !important;
}

.tab_tr{
    display: inline-block;
    width: 50% !important;
}

.title {
    color: white !important;
}