
/*  HTML Element section*/
h3{
  color: white !important;
}

/* ID section */
#up{
  width: 60px;
  height: 60px;
  border-radius: 50%;
   
  position: -webkit-sticky;
  position: sticky;
  bottom: 2%;
  left: 95%;
  background-color: #ffffff00;
  margin: auto; 
  text-align: center;
  font-size: 3rem;
  line-height: 1rem;
  
  z-index: 100;
}

/*Class section */

.accordion, .card{
  background-color: #263238   !important;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-get-id{
  margin-left: 10px;
  margin-bottom: 20px;
}

.form-control-plaintext{
  color: white !important;
}

.marginBar{
  margin-top:100px;
}

.navbar{
  position: fixed !important;
  top:0 !important;
  width:100% !important;
  transition: margin-top 0.25s !important;
  z-index: 3;
}

.session{
  background-color: #263238 !important;
  color: #ffffff;
  padding: 0.5rem !important;
  border-radius: 0.25rem !important;
  border: 1px solid #263238 !important;
  padding-bottom: 13% !important; 
}

/* We set the width of the label for the popup settings */
.settingsPopup .settingsGeneralContent .input-group-prepend {
  width: 22%;
}

.settingsPopup .settingsEnvironmentContent .input-group-prepend {
  width: 22%;
}

.settingsPopup .settingsEquipmentContent .input-group-prepend {
  width: 22%;
}

.settingsPopup .input-group-prepend span {
  width: 100%;
  overflow: hidden;
  display: block;
}

/* Keyframes section*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media section */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width:1233px){ 
    #sessionTracker{
     order:3;
    }
    #inputList{
      order:1;
      width:90%!important;
    }
    #search{
      order:2;
    }
    

}