/*ID section */
#errorMsg, #successMsg{
    display: inline-block;
    background-color: #263238aa;
    border-radius: 00.25rem;
    padding: 10px; 
}

/* Class section */
.btn-coords{
    background-color: #7a64f7 !important;
    color: white !important;
    margin-bottom: 10px;
}

.btn-get{
    background-color: #7a64f7 !important;
    border: none !important;
    float: right;
    margin-top: 1.25%;
}

.corner{
    border-radius: 0.25rem !important;
}

.disp{
    padding: 1%;
}

/* We set a red border to invalid inputs */
.input-group input:invalid {
    border-color: red;
}

.input-group input:focus:invalid {
    box-shadow: 0 0 5px red;
}

/* We set the width of the label for each tab */
.acquisitionTabContent .input-group-prepend {
    width: 100%;
}

.environmentTabContent .input-group-prepend {
    width: 100%;
}

.equipmentTabContent .input-group-prepend {
    width: 100%;
}

.form-control, .custom-select{
    width: 100% ;
    color: #212529 !important;
}

.input-group-prepend span {
    width: 100%;
    overflow: hidden;
    display: block;
}

.resultTabContent .input-group-prepend {
    width: 100%;
}


.recommanded[value=""]{
    border:rgb(255, 166, 2) solid 2px;
    border-right:#ffa602 solid 6px ;
}
.required[value=""]{
    border: solid 2px;
    border-right:solid 6px ;
}
.tabContent{
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
}
.tabList{
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}
.unit{
    background:#212B30;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width:5%  !important;
}

.load{
    background-color: #263238 !important;
    border-color: #263238 !important ;
    
}
.verify{
    background-color: #263238   !important;
    border-color: #263238   !important ;
}

/* media section */
@media (min-width: 1227px) {
    /* Class section */
    .btn-get{
        margin-right:1rem;
    }
    .col{
        display:block !important;
    }
    .colForm{
        flex: 0 0 66.666667%!important;
        max-width: 66.666667%!important;;
    }
    .colLoad{
        flex: 0 0 20%!important;
        max-width: 20%!important;;
    }
    .colSubmit{
        flex: 0 0 45%!important;
        max-width: 45%!important;;
    }
    .input-group-append{
        width: 15% !important;
        overflow: hidden;
    }
    .rowButtons{
        flex: 0 0 66.666667%!important;
        max-width: 66.666667%!important;;
    }
    .rwt__tabpanel {
        overflow: auto;
        height:60vh;
    }
    .unit{
        width: 12%!important;
    }
}

@media (min-width: 992px) and (max-width: 1226px) {
    /* Class section */
    .btn-get{
        display: flex!important;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .col{
        display:block !important;
    }
    .colForm{
        flex: 0 0 66.666667%!important;
        max-width: 66.666667%!important;;
    }
    .colSubmit{
        flex: 0 0 50%!important;
        max-width: 50%!important;;
    }
    .input-group-append{
        width: 15% !important;
        overflow: hidden;
    }
    .rowButtons{
        flex: 0 0 66.666667%!important;
        max-width: 66.666667%!important;;
    }
    .rwt__tabpanel {
        overflow: auto;
        height:60vh;
    }
    .unit{
        width: 16%!important;
    }
}
@media (max-width: 992px) and (min-width: 481px){
    /* HTML Element section */
    button{
        display: flex!important;
        align-items: center;
        justify-content: center;
    }

    /* ID section*/
    #aladin-lite-div{
        height: 55vw !important;
    }

    /* Class section */
    .col{
        display:block !important;
        flex-basis: auto !important;
        flex-grow: inherit !important;
    }
    .colAladin{
        margin-top:2rem;
        width:100% !important;
    }
    .colAladin > div{
        width:60% !important;
        margin: 0 auto;
    }
    .input-group-append{
        width: 25% !important;
        overflow: hidden;
    }
    .rowButtons .col{
        margin-bottom:0.5rem;
        display: flex!important;
        align-items: center;
        justify-content: center;
    }
    .rwt__tablist *{
        width:100%;
        display: block;
    }
    .unit{
        width: 11%!important;
    }
}
@media (max-width: 481px) { 
    /* HTML ELement section */
    button{
        display: flex!important;
        align-items: center;
        justify-content: center;
    }

    /*ID section */
    #aladin-lite-div{
        height: 55vw !important;
    }

    /* Class section */
    .col{
        display:block !important;
        flex-basis:auto !important;

    }
    .colAladin{
        margin-top:2rem;
        width:100% !important;
    }
    .rowButtons .col{
        margin-bottom:0.5rem;
        display: flex!important;
        align-items: center;
        justify-content: center;
    }
    .rwt__tablist *{
        width:100%;
        display: block;
    }
    .unit{
        width: 80% !important;
    }
    .input-group-append{
        width: 25% !important;
        overflow: hidden;
    }
}
