/* HTML Element section */
input{
    color:black;
}

label{
    color: white !important;
}

select{
    color: #212529 !important;
}

/* ID section */
#allObservation{
    margin-left: 10px;
}

#btn-group-type{
    display: flex;
}

#errorMsg{
    color:red;
}

#searchButton{
    background-color: #7A64F7 !important;
    border-color: #7A64F7 !important ;
}

#info_obs > p {
    color: white;
}

#ranking {
    border: 2px solid #0a0a0a;
}

#ranking > thead > tr, #ranking > thead > tr > th, #ranking > tbody > tr, #ranking > tbody > tr > td {
    border: 1px solid #0a0a0a;
}

#ranking > thead > tr > th {
    color: #0a0a0a;
}

#ranking > thead > tr, #ranking > tbody > tr, #ranking > tbody > tr > td {
    color: white;
}

#ranking_desc {
    text-align: center;
    background-color: #7A64F7;
}

#ranking_first {
    text-align: center;
    background-color: #5E4EBC;
}

#ranking_second {
    text-align: center;
    background-color: #423781;
}

#ranking_third {
    text-align: center;
    background-color: #262146;
}

#refresh {
    display: block;
    justify-content: center;
    margin: 0 auto;
}

/* Class section */
.btnType{
    width: 100%;
    color: white !important; 
}

.charts{
    display: flex;
}

.filter{
    color: white; 
    margin-top: 4px;
}

.inputCol{
    width: 75% !important;
}

.purple-bg{
    background-color:#7A64F7 !important;
    border-color:#7A64F7 !important ;
    color:white!important;
}
.purple-bg:focus{
    background-color:#7A64F7 !important;
    border-color:#7A64F7 !important ;
}

.refreshButton{
    width: 50%; 
}

.searchObs{
    background-color: #263238 !important;
    border: 1px solid #263238 !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.searchTitle{
    color: white !important; 
}

.searchCol{
    width: 20% !important;
}

.th-purple-bg{
    background-color:#7A64F7 !important;
    border-bottom: 3px solid black !important ;
}

/* Media section */
@media (min-width: 991px){
    /*ID section */
    #refresh{
        text-align: right;
    }

    /* Class section */
    .colRefresh{
        padding-left: 17px;
    }

}

@media (max-width: 1191px){

    /* ID section*/
    #searchButton{
        margin-left: 0% !important;
    }

    /* Class section */
    .searchCol, .inputCol{
        width: 95% !important;
    }
}
@media (min-width: 721px) and (max-width: 991px){
    /* ID section */
    #refresh{
        display: flex!important;
        align-items: center;
        width: 100%;
        margin-left: 4px !important;
    }

    /* Class section */
    .colFiltre{
        margin-right: 10px;
    }
    .colRefresh{
        width: 100px !important; 
    }
    .refreshButton{
        width: 100% !important; 
        margin-top: 7px;
    }
}
@media (max-width: 720px) and (min-width: 520px){
    /* ID section */
    #btn-group-type{
        margin-top: 00.25rem;
    }
    /* Class section */
    .charts{
        display: block!important;
    }
}
@media (max-width: 520px){
    /* Class section */
    .charts{
        display: none !important; 
    }
}
@media (max-width: 720px){
    /* ID section */
    #refresh{
        display: flex!important;
        align-items: center;
        width: 100%;
        margin-left: 4px !important;
    }
    #searchButton{
        margin-left: 0rem !important;
    }

    /* Class section */
    .colRefresh{
        width: 100% !important; 
    }
    .charts{
        display: block!important;
    }
    .inputCol{
        width: 90% !important;
    }

    .refreshButton{
        width: 100% !important; 
    }
    .searchCol{
        width: 90% !important;
        border-top-left-radius: 0rem !important;
        border-top-right-radius: 0rem !important;
    }
}
@media (max-width: 481px) {
    /* ID section */
    #all{
        border-top-right-radius: 0.25rem !important ;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0rem !important;
    }
    #btn-group-type{
        display: block;
    }
    #spectrograph{
        border-bottom-right-radius: 0.25rem !important ;
        border-bottom-left-radius: 0.25rem !important;
        border-top-right-radius: 0rem !important ;
    }

    /* Class section */
    .charts{
        display: none !important; 
    }
    .colFiltre{
        width: 90% !important; 
    }
}


